@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.main {
    font-family: 'Poppins', sans-serif;
}

.button-admin {
    display: block;
    margin-left: auto;
    margin-right: 0;
}